@import "mocha.css";

* {
    border: none;
    font-family: "FantasqueSansM Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

#workspaces,
#window,
#tray,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock {
    background: @surface0;
    padding: 0 10px;
    margin: 3px 0;
}

#workspaces {
    border-radius: 16px;
    margin-left: 7px;
    padding: 0;
}

#workspaces button {
    border-radius: 16px;
    color: @subtext0;
    margin: 0;
    padding: 0 9px;
}

#workspaces button:nth-child(1) {
    color: @blue;
}

#workspaces button:nth-child(2) {
    color: @green;
}

#workspaces button:nth-child(3) {
    color: @yellow;
}

#workspaces button:nth-child(4) {
    color: @maroon;
}

#workspaces button:nth-child(5) {
    color: @mauve;
}

#workspaces button:hover {
    background: transparent;
    color: @sapphire;
}

#workspaces button.active {
    color: @base;
}

#workspaces button:nth-child(1).active {
    background: @blue;
}

#workspaces button:nth-child(2).active {
    background: @green;
}

#workspaces button:nth-child(3).active {
    background: @yellow;
}

#workspaces button:nth-child(4).active {
    background: @maroon;
}

#workspaces button:nth-child(5).active {
    background: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#window {
    border-radius: 16px;
    color: @mauve;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0 14px;
}

window#waybar.empty #window {
    background: transparent;
    margin: 0;
    padding: 0;
}

#pulseaudio {
    border-radius: 16px 0 0 16px;
    color: @maroon;
    margin-left: 8px;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: @sapphire;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @subtext0;
}

#battery {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#battery.critical:not(.charging) {
    color: @red;
}

#clock {
    border-radius: 0 16px 16px 0;
    color: @blue;
    margin-right: 8px;
}

#tray {
    background: @surface0;
    border-radius: 16px;
    margin: 3px 7px 3px 0;
    padding: 0 10px;
}

#tray > .active,
#tray > .passive,
#tray > .needs-attention {
    background: transparent;
    margin: 0;
    padding: 0;
}
